.header{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.header__menu--link{
  display:inline-block;
  margin: 0 10px;
  text-decoration: none;
  color:#565673;
  font-size: 4px;
  letter-spacing: 1.2px;
  
}

.header__menu--link:hover{
  border: black solid 1px;
  cursor: pointer;
}