.navbar{
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}


.search{
  padding:1rem;
}
.search__form{
  display: flex;
}

.searchInput{
  border:0;
  width:0;
  transition:width .1s ease-in-out;
}

.searchInput.active{
  width:150px;
 }
.searchInput:focus{
 outline:none;
}
.search__form--icon{
  cursor:pointer;
}