.navbar{
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.navbar__list{
  margin:0;
  padding: 0;
}
.navbar__list--item{
  display: inline-block;
}
.navbar__list--link{
  text-decoration: none;
  display: block;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 400;
  color:#565673;
  padding: 0 10px;
}

.search__form{
  display: flex;
}

.searchInput{
  border:0;
  width:0;
  transition:width .1s ease-in-out;
}

.searchInput.active{
  width:150px;
 }
.searchInput:focus{
 outline:none;
}
.search__form--icon{
  cursor:pointer;
}